---
layout: default
criteria_dropdown_nav: true

---
{% assign criteriaYear = site.content_year %}
{% assign leadingExample = page.leading_list  %}
{% assign promisingExamples = page.promising_list | where: 'year', criteriaYear %}
{% assign allCriteria = site.data.contentful.criteria.criteria | where: 'year', criteriaYear %}

{% assign currentOrder = page.order%}

{% assign lastCriteria = allCriteria | sort: "order" | last %}
{% assign lastOrder = lastCriteria.order %}

{% assign previousOrder = currentOrder | minus: 1 %}
{% assign previousCriteria = allCriteria | where: "order", previousOrder  %}

{% assign nextOrder = currentOrder | plus:1 %}
{% assign nextCriteria = allCriteria | where: "order", nextOrder  %}

<main role="main" class="criteria">
  <section class="top-section">
    <div class="row align-center">
      <div class="column large-8 medium-8 small-12">
        <h1>{{criteriaYear}} State Standard of Excellence</h1>
        <hr>
        <h2>{{page.order}}. {{page.title}}</h2>
      </div>
    </div>
    <div class="button-container button-container--align-left row">
     <a class="button button--index" onclick="goBack()"><span>Back to<br>Standard</span></a>
    </div>
  </section>

  <section class="section section__description">
    <div class="row align-center">
      <div class="column large-10 markdown">
        {{ page.description | markdownify }}
      </div>
    </div>
  </section>

  <section class="section section__explanation">
    <div class="row align-center">
      <div class="column large-10 markdown">
        {{ page.explanation | markdownify }}
      </div>
    </div>
  </section>

  <section class="section section__leading-list">
    <div class="row align-center">
      <div id="leading-example" class="column large-8 medium-8 small-12">
        <h3 class="example__title">Leading Example</h3>
      </div>
    </div>

    {% include example.html example=leadingExample exampleType="leading"%}

  </section>


  <section class="section section__leading-list">
    <div class="row align-center">
      <div class="column large-10">
        <hr class="hr--long">
      </div>
    </div>
  </section>

  <section class="section section__promising-list">
    <div class="row align-center">
      <div id="promising-examples" class="column large-8 medium-8 small-12">
        <h3 class="example__title">Promising Examples</h3>
      </div>
    </div>
    {% for promisingExample in promisingExamples %}

      {% include example.html example=promisingExample exampleType="promising" %}

    {% endfor %}
  </section>

  {% include mobile-index.html %}

</main>
