---
layout: default

---
{% assign criteriaYear = "2018" %}
{% assign leadingEffort = page.leading_list %}
{% assign promisingEfforts = page.promising_list | where: 'year', criteriaYear %}

<main role="main" class="criteria">

  <section class="top-section">
    <div class="row align-center">
      <div class="column large-8 medium-8 small-12">
        <h1>{{criteriaYear}} State Standard of Excellence</h1>
        <hr>
        <h2>{{page.title}}</h2>
      </div>
    </div>
    <div class="button-container button-container--align-left row">
     <a class="button button--index" href="{{'/' | relative_url}}"><span>Back to<br>the Index</span></a>
    </div>
  </section>

  <section class="section section__explanation">
    <div class="row align-center">
      <div class="column large-10">
        {{ page.explanation | markdownify }}
      </div>
    </div>
  </section>

  <section class="section section__leading-list">
  <a name="leading-effort"></a>
    <div class="row align-center">
      <div class="column large-8 medium-8 small-12">
        <h3 class="effort__title">Leading Effort</h3>
      </div>
    </div>
    {%if leadingEffort.year == criteriaYear%}
    {% include effort.html effort=leadingEffort%}
    {%endif%}
  </section>


  <section class="section section__leading-list">
    <div class="row align-center">
      <div class="column large-10">
        <hr class="hr--long">
      </div>
    </div>
  </section>

  <section class="section section__promising-list">
    <a name="promising-efforts"></a>
    <div class="row align-center">
      <div class="column large-8 medium-8 small-12">
        <h3 class="effort__title">Promising Efforts</h3>
      </div>
    </div>
    {%for promisingEffort in promisingEfforts %}


      {% include effort.html effort=promisingEffort %}

    {% endfor %}
  </section>

</main>
