body {
  font-family: stevie-sans, sans-serif;
  p {
    color: $main-dark-gray;
    font-family: stevie-sans, sans-serif;
    font-size: 1.2rem;
    padding-top: 20px;
    padding-bottom: 20px;

    @include breakpoint($small-only) {
      font-size: 1rem;
    }
    a {
      color: $hyperlink-orange;
      text-decoration: none;
      &:hover {
        color: $blue;
        @extend .u-transition;
      }
    }
  }
  table {
    font-family: stevie-sans, sans-serif;
  }
}

footer {
  padding: 3rem;
  text-align: center;
  vertical-align: middle;
  .logo {
    height: 4.5rem;
    width: auto;
  }
}

.copyright {
  padding: 2rem 4rem;
  font-weight: 400;
  p {
    padding: 0;
    font-size: 0.9rem;
  }
  background-color: $light-gray;
  a {
    color: $main-dark-gray;
    text-decoration: none;
    &:hover {
      color: $blue;
      @extend .u-transition;
    }
  }
  .copyrights {
    display: block;
    @include breakpoint($medium) {
      display: inline-block;
    }
  }
  .privacy {
    display: block;
    @include breakpoint($medium) {
      display: inline-block;
    }
    &:before {
      content: '|';
      padding: 0 1rem;
      display: none;
      @include breakpoint($medium) {
        display: inline-block;
      }
    }
  }
  .social-links-container {
    @include breakpoint($large) {
      text-align: right;
    }
  }
  .social-links {
    display: block;
    @include breakpoint($medium) {
      display: inline-block;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        font-size: 1.1rem;
        padding: 0 0.5rem;
        display: inline-block;
      }
    }
  }
}
