
.slide-panel__open {

  position: absolute;
  right: 0;
  padding-top: 2px;
  font-size: .74rem;
  @include breakpoint ($large) {
    padding-top: 6px;
    font-size: 0.9rem;
  }
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  i {
    vertical-align: bottom;
    font-size: 1.5rem;
    @include breakpoint($small-only) {
      font-size: 1.2rem;
    }
  }
}

.slide-panel {
  z-index: 5;
  visibility: hidden;
  transition: visibility 0.5s;
  &.is-visible {
    visibility: visible;
    transition: visibility 0s;
  }
  &__close {
    display: flex;
    justify-content: flex-end;
  }

  &__container {
    overflow-y: auto;
    z-index: 3 !important;
    &--key {
      padding: 2rem;
      line-height: 2;
      background-color: $font-dark-gray;
      p {
        display: block !important;
        color: #fff !important;
        font-size: 1rem;
        font-weight: 300;
      }
      ul {
        padding: 0;
        margin: 0;
        font-weight: 700;
        color: #fff;
        font-size: 1rem;
      }
      li {
        margin: 0;
        display: block;
        font-size: 1rem;
      }
    }
    i.slide-close-key {
      &::before {
        color: #fff;
        content: 'close';
        font-size: 1.6rem;
      }
    }
    i.slide-close-definition {
      &::before {
        color: white;
        content: 'close';
        font-size: 2rem;
      }
    }
    z-index: 1;
    padding: 1rem 3rem;
    p {
      color: white;
    }
    position: absolute;

    width: 30%;
    @include breakpoint($medium-only) {
      width: 50%;
    }
    @include breakpoint($small-only) {
      width: 100%;
    }
    height: 100%;
    top: 0;
    right: 0;
    color: white;
    i {
      color: rgba(white, 0.6);
      @extend .u-transition;
      &:hover {
        color: white;
      }
    }
  }
  &__wrapper {
    text-align: left;

    &--compact {
      overflow: hidden;
      height: 100%;
      position: relative;
    }
  }

  &__key {
    ul {
      
    }
  }
}


