.button-container {
  &--align-left {
    margin: 0;
  }
  .button--index {
    position: fixed;
    display: none;
    border: 3px solid $hyperlink-orange !important;
    border-left: 0 !important;
    @media only screen and (min-width: 1220px) {
      display: block;
    }
    &::before {
      content: 'arrow_back';
      @extend .u-material-icons;
      margin: 0;
      padding-right: 1rem;
      line-height: 3rem !important;
      float: left;
      font-weight: 600;
      font-size: 2.2rem !important;
    }
    span {
      text-align: left;
      float: left;
      margin: 0;
      position: relative;
      font-size: 1.3rem;
      line-height: 125%;
      font-weight: 600;
    }

    background-color: white;
    border: 2px solid $hyperlink-orange;
    color: $hyperlink-orange;
    margin: 0;
    padding: 1.3rem;
    text-transform: none;
    &:hover {
      background-color: $hyperlink-orange;
      color: white;
    }
  }
}

.mobile-controls {
  display: none;
  @media only screen and (max-width: 1220px) {
    display: block;
  }

  .mobile-index {
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    &::before {
      content: 'arrow_back';
      @extend .u-material-icons;
      vertical-align: bottom;
      padding-right: 0.7rem;
    }
    color: $hyperlink-orange;
    margin: 0;
    padding: 1rem;
    text-transform: uppercase;
    &:hover {
      color: $blue;
      @extend .u-transition;
    }
  }

  .media-icons-mobile {
    text-align: center;
    padding: 1rem 0 0 0;
  }
}

.media-icons {
  height: 4rem;
  display: block !important;
  .social-media-toolbar {
    display: none !important;
    @media only screen and (min-width: 1220px) {
      display: block !important;
    }
  }
}

.social-media-toolbar {
  ul {
    &::before {
      content: 'Share';
      vertical-align: 1rem;
      padding-right: 0.4rem;
      width: auto;
      color: $main-dark-gray;
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: 600;
    }
    list-style: none;
    padding: 0;
  }
  li {
    display: inline-block;
    padding-right: 0.5rem;
  }
  padding: 1px;
  text-transform: uppercase;
  a {
    @extend .u-transition;
    color: $main-dark-gray;
    float: left;
    width: 40px;
    height: 40px;
    background: $light-gray;
    border-radius: 40px;
    text-align: center;
    padding-top: 10px;
    &:hover {
      transform: scale(1.1);
      background: $blue;
      color: white;
    }
  }
  i {
    font-size: 1.4rem;
  }
}

.email {
  a {
    padding-top: 0.55rem;
    i {
      font-size: 1.3rem;
    }
  }
}

// downloads buttons
.button--download {
  @extend .u-transition;
  background-color: #fff;
  border: 3px solid $blue;
  &:hover {
    background-color: $blue;
    color: #fff;
  }
}
