.button-container {
  &--align-left {
    margin: 0;
  }
  .button--index {
    position: fixed;
    display: none;
    @media only screen and (min-width: 1120px) {
      display: block;
    }
    &::before {
      content: 'arrow_back';
      @extend .u-material-icons;
      margin: 0;
      padding-right: 1rem;
      line-height: 3rem !important;
      float: left;
    }
    span {
      float: left;
      text-align: left;
    }
    font-weight: 500;
    background-color: white;
    border: 2px solid $hyperlink-orange;
    color: $hyperlink-orange;
    margin: 0;
    padding: 0.75rem;
    text-transform: none;
    &:hover {
      background-color: $hyperlink-orange;
      color: white;
    }
  }
}

.social-media-toolbar {
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
    padding-right: 1rem;
  }
  padding: 1px;
  span {
    padding-top: 1.7rem;
    padding-right: 0.5rem;
    float: left;
    width: auto;
    color: $main-dark-gray;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
  }
  text-transform: uppercase;
  a {
    @extend .u-transition;
    color: $main-dark-gray;
    float: left;
    width: 40px;
    height: 40px;
    background: $light-gray;
    border-radius: 40px;
    text-align: center;
    padding-top: 10px;
    &:hover {
      transform: scale(1.1);
      background: $blue;
      color: white;
    }
  }
  i {
    font-size: 1.4rem;
  }
}
