.criteria {
  .section__description {
    font-weight: 600 !important;
  }
  .section__explanation {
    text-align: inherit;
  }
  @mixin example($color) {
    .example__title,
    .example__abbreviation,
    .example__type {
      color: $color;
      text-align: center;
    }

    .example__title {
      text-transform: capitalize;
      font-weight: 500;
      margin: 1rem 0;
      &--leading {
        margin: 1rem 0;
        text-align: center;
        font-weight: 500;
        text-transform: none;
        font-size: 2rem;
        line-height: 1.2;
        @include breakpoint($small-only) {
          font-size: 1.8rem;
        }
      }
    }

    .example__abbreviation {
      font-weight: 800;
      font-size: 2.4rem;
      margin: 1rem 0 0 0;
    }
    .example__type {
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 800;
      margin: 0;
      padding: 0;
    }
  }

  .example__state-outline {
    text-align: center;
    padding: 1rem;
    img {
      width: 7rem;
      height: auto;
    }
    &--ca {
      width: 5.5rem !important;
    }
    &--in {
      width: 4.5rem !important;
    }
    &--ky,
    &--or,
    &--wa,
    &--ma {
      width: 8rem !important;
    }
    &--tn {
      width: 10rem !important;
    }
  }

  .section__leading-list {
    @include example($primary-green);
  }
  .section__promising-list {
    @include example($primary-orange);
  }
  hr.hr--long {
    // margin: 15px auto;
    width: 100%;
    height: 3px;
    background-color: $medium-gray;
    border-radius: 5px;
    border: none;
  }
}
