.criteria {
  .section__description {
    font-weight: 600 !important;
    p {
      padding: 0;
      margin-top: 0;
    }
    &--leading {
      font-weight: 400!important;
    }
  }
  .section__explanation {
    text-align: inherit;
    p {
      padding-top: 0;
    }
  }
  .criteria-description {
    p {
      font-weight: 600;
      margin-top: 0;
    }
  }
  @mixin example($color) {
    .example__title,
    .example__abbreviation,
    .example__type {
      color: $color;
      text-align: center;
    }

    .example__title {
      text-transform: capitalize;
      font-weight: 500;
      margin: 1rem 0;
      &--leading {
        margin: 1rem 0;
        text-align: center;
        font-weight: 500;
        text-transform: none;
        font-size: 2rem;
        line-height: 1.2;
        @include breakpoint($small-only) {
          font-size: 1.8rem;
        }
      }
    }

    .example__abbreviation {
      font-weight: 800;
      font-size: 2.4rem;
      margin: 1rem 0 0 0;
    }
    .example__type {
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 800;
      margin: 0;
      padding: 0;
    }
  }

  .example__state-outline {
    text-align: center;
    padding: 1rem;
    img {
      height: 6rem;
    }
    &--tn {
      height: 3.75rem !important;
    }
    &--ca {
      height: 9rem !important;
    }
    &--in {
      height: 8rem !important;
    }
    &--mn {
      height: 7rem !important;
    }
    &--ri {
      height: 7.5rem !important;
    }
    &--ky {
      height: 5rem !important;
    }
    &--ma {
      height: 5rem !important;
    }
  }

  .section__leading-list {
    @include example($primary-green);
  }
  .section__promising-list {
    @include example($primary-orange);
  }
  // hr.hr--long {
  //   width: 100%;
  //   height: 3px;
  //   background-color: $medium-gray;
  //   border-radius: 5px;
  //   border: none;
  // }

  &__nav {
    background-color: $blue;
    padding: 1rem 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;

    &--previous,
    &--next {
      a {
        text-decoration: none;
        &:hover {
          @extend .u-transition;
        }
      }
      text-align: left;
      i {
        vertical-align: bottom;
      }
    }
    &--previous {
      i {
        padding-right: 0.8rem;
      }
    }
    &--next {
      text-align: right;
      i {
        padding-left: 0.8rem;
      }
    }
  }
}

// criteria page dropdown nav
.criteria-dropdown-nav.page-section--nav {
  background-color: $dark-blue;
  color: #fff;
  padding: 0;
}
.criteria-dropdown-nav.select {
  background-color: transparent;
  margin: 0;
  font-size: 1rem;
  padding: 0;
  text-align: center;
  padding: 0!important;
  width: 14rem;
  @include breakpoint($small-only) {
    width: 12rem;
  }
  &::before {
    color: #fff;
    right: 10px;
    @include breakpoint($small-only) {
      right: 12px;
    }
  }
}
.criteria-dropdown-nav__select {
  text-align: center;
  text-align-last: center;
  margin: 0;
  @include breakpoint($small-only) {
    width: 100%;
  }
}
.criteria-dropdown-nav__option {
  color: #000;
  font-size: 1rem;
}
