/**
* will show the first html element of a content block contained in a foundation row and column ie
* <div class="expandable>
*   <div class="row">
*     <div class="column">
*       <p>{first element of content}</p>
*     </div>
*   </div>
* </div>
 */

.expandable {

  > :first-child {

    > :first-child {

      > :first-child {
        display: block;
      }
      > :nth-child(2) {
        display: block;
      }
    }
  }

  > * > * > * {
    display: none;
  }


  .read-more-wrapper {
    text-align: right;
    padding-bottom: 3rem!important;
  }
  .read-more {
    @extend .u-transition;
    &:hover {
      color: $blue;
    }
    display: inline-block;
    font-size: 1rem;
    font-weight: 800;
    background-color: #fff;
    padding: 0;
    color: $hyperlink-orange;
    &:after {
      content: 'Read More';
    }
  }
}

// Styles when expanded
.expandable.js-expandable-active {
  > * > * > * {
    display: block;
  }
  .read-more {
    display: inline-block;
    &:after {
      content: 'Read Less';
    }
  }
}
