.examples-wrapper {
  
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}
.examples-wrapper--hidden {
  
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.promising .examples-wrapper {
  display: inline-block;
}
// filter styles
.issues-dropdown-filter.select {
  background-color: transparent;
  margin: 0;
  font-size: .8rem;
  @include breakpoint($large) {
    font-size: 1rem;
  }
  padding: 0;
  text-align: center;
  &::before {
    color: #fff;
    padding-top: 4px;
  }
}

select.issues-dropdown-filter__select {
  height: 2rem;
  text-align: center;
  text-align-last: center;
  margin: 0;
  @include breakpoint($small-only) {
    width: 100%;
  }
}
.issues-dropdown-filter__option {
  color: #000;
  font-size: 1rem;
}