.button-container {
  text-align: center;
  .download-button {
    background-color: white;
    border: 2px solid $blue;
    font-weight: 600;
    margin: 20px 0px 40px 0;
    padding: 10px 10px 10px 50px;
    text-transform: capitalize;
    &:hover {
      background-color: $blue;
      color: white;
    }
    .material-icons {
      display: inline-block;
      margin-left: 80px;
    }
  }
}
