.button-container {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  .buttons {
    @include breakpoint($small-only) {
      margin-bottom: 0px;
    }
    .download-button {
      text-align: center;
      color: $dark-blue;
      background-color: white;
      border: 2px solid $blue;
      font-weight: 600;
      margin: 0px 0px 20px 0;
      padding: 11px 10px 10px 20px;
      @include breakpoint($medium-only) {
        font-size: .9rem;
        padding-left: 15px;
      }
      @include breakpoint($small-only) {
        font-size: .85rem;
        padding-left: 15px;
      }
      &:hover {
        background-color: $blue;
        color: white;
      }
      &--large:before {
        content: "Download State Standard Criteria Questions";
        @include breakpoint($small-only) {
          content: "Download Criteria Questions";
        }
      }
      .material-icons {
        display: inline-block;
        margin-left: 10px;
        @include breakpoint($medium-only) {
          font-size: 1.2rem;
        }
        @include breakpoint($small-only) {
          font-size: 1.1rem;
        }
      }
    }
  }
}

.footnote {
  background-color: $light-gray;
  p {
    font-size: 1rem;
  }
}

.markdown {
  ul {
    color: $dark-gray;
  }
}
