// index issues in table
.state__title {
  color: #fff;
}
.issue {
  display: inline-block;
  &::before {
    font-size: 0.9rem;
    vertical-align: text-bottom;
  }
  &--child-welfare::before {
    @extend .u-material-icons;
    content: 'emoji_people';
  }
  &--criminal-justice::before {
    @extend .u-material-icons;
    content: 'gavel';
  }
  &--economic-opportunity::before {
    @extend .u-material-icons;
    content: 'trending_up';
  }
  &--education::before {
    @extend .u-material-icons;
    content: 'school';
  }
  &--health::before {
    @extend .u-material-icons;
    content: 'local_hospital';
  }
  &--workforce::before {
    @extend .u-material-icons;
    content: 'people_alt';
  }
}

.issue--leading {
  color: $primary-green;
  font-weight: 700;
  &::before {
    font-size: 2rem;
  }
}

// issues icon on tablet/mobile index
.issue--mobile {
  display: inline-block;
  @include breakpoint($large) {
    display: none;
  }

  .issue {
    margin: 0 2px;
    font-size: 0.9rem;
    vertical-align: top;
    margin-top: 0.5rem;
  }
}

// criteria & includes/example layout
.criteria-issues {
  font-weight: 700;
  .issue {
    margin: 0.5rem 0.5rem 0;
    font-size: 0.8rem;
    &::before {
      margin: 0 4px;
      font-size: 1.5rem;
      vertical-align: bottom;
    }
  }
  .issue--leading {
    color: $primary-green;
  }
  .issue--promising {
    color: $primary-orange;
  }
}

// issues in index key
.issue--key {
  &::before {
    margin-right: 1rem;
    font-size: 1.2rem;
  }
}