.top-bar {
  background-color: $blue;
  background-position: -30% 95%;
  background-repeat: no-repeat;
  background-size: 1700px;
  height: 100px;
  position: relative;
  .color-overlay {
    background-color: transparentize($blue, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  @include breakpoint($small-only) {
    height: 75px;
  }
  &__logo {
    display: block;
    width: 25%;
    margin: auto;
    padding: 22px;
    @include breakpoint($small-only) {
      padding: 15px;
    }
  }
  &__controls {
    text-align: left;
    margin-bottom: 2rem;
  }
  &__button {
    z-index: 2;
    height: 3.5rem;
    font-size: 2.2rem;
  }
  &__button--more {
    @extend .u-material-icons;
  }
}

.js-trigger-sidepanel {
  @extend .u-material-icons;
  &:before {
    font-family: 'Material Icons';
    content: "more_vert";
  }
}
