.top-bar {
  background-color: $blue;
  background-position: -30% 95%;
  background-repeat: no-repeat;
  background-size: 1700px;
  height: 100px;
  position: relative;
  .color-overlay {
    background-color: transparentize($blue, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  @include breakpoint($small-only) {
    height: 75px;
  }
  &__logo {
    display: block;
    width: 25%;
    margin: auto;
    padding: 22px;
    @include breakpoint($small-only) {
      padding: 15px;
    }
  }
  &__controls {
    text-align: left;
    margin-bottom: 2rem;
  }
  &__button {
    z-index: 2;
    height: 3.5rem;
    font-size: 2.2rem;
  }
  &__button--more {
    @extend .u-material-icons;
  }
}

.js-trigger-sidepanel {
  @extend .u-material-icons;
  &:before {
    font-family: 'Material Icons';
    content: "more_vert";
  }
}

.main-menu {
  box-shadow: none;
  overflow: auto;
  width: 25rem;
  @include breakpoint($large) {
    width: 19rem;
  }
  .main-link {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 3rem;
  }
  .sub-link {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.5rem 3rem;
  }
  .main-menu--links a {
    color: #fff;
    text-align: left;
    border-bottom: none;
    letter-spacing: 0.03em;
    text-transform: none;

    cursor: pointer;
    line-height: 1.8rem;
  }
}
