.top-bar {
  background-color: $blue;
  background-position: -30% 95%;
  background-repeat: no-repeat;
  background-size: 1700px;
  height: 100px;
  position: relative;
  .color-overlay {
    background-color: transparentize($blue, .2);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  @include breakpoint($small-only) {
    height: 75px;
  }
  &__logo {
    display: block;
    padding: 22px;
    @include breakpoint($small-only) {
      padding: 15px;
    }
  }
}

.media-icons {
  display: none;
  @include breakpoint($large) {
    display: inline;
  }
}
