* {
  box-sizing: border-box;
}

// Breakpoints
$small-only: screen and (max-width: 39.9375em);
$touch: screen and (max-width: 64em);
$medium: screen and (min-width: 40em);
$medium-only: screen and (min-width: 40em) and (max-width: 63.9375em);
$large: screen and (min-width: 64em);
$between-large: screen and (min-width: 1025px) and (max-width: 1267px);

// Colors
$blue: #008bb9;
$dark-blue: #12375c;
$light-gray: #ebebeb;
$medium-gray: #e3e3e3;
$dark-gray: #575757;
$font-dark-gray: #222222;
$main-dark-gray: #999;
$primary-green: #54c569;
$light-green-tint: #d9f2de;
$dark-green-tint: #c9e8cf;
$primary-orange: #fbae39;
$light-orange-tint: #fdf7eb;
$dark-orange-tint: #ffeccb;
$hyperlink-orange: #f77c50;

@import 'breakpoint';
@import 'base';
@import 'controls';
@import 'mixins';
@import 'top-bar';
@import 'top-section';
@import 'table';
@import 'criteria';
@import 'index';
@import 'issues';
@import 'select';
@import 'downloads';
@import 'expandable';
@import 'filter';
@import 'compact-panel';
@import 'table-two';
@import 'nav';
