<div class="copyright">
  <div class="row expanded">
    <div class="column small-12 medium-12 large-9">
      <p><span class="copyrights">Copyright {{site.content_year}} Results for America. All rights reserved.</span> <span class="privacy"><a href="http://results4america.org/privacy-policy/">Privacy Policy</a></span></p>
    </div>
    <div class="column small-12 medium-12 large-3 social-links-container">
      <div class="social-links">
        <ul>
          <li class="twitter">
            <a href="https://twitter.com/results4america" target=
            "_blank"><i aria-hidden="true" class="fa fa-twitter"></i></a>
          </li>
          <li class="facebook">
            <a href="https://www.facebook.com/Results4America.org/" target=
            "_blank"><i aria-hidden="true" class="fa fa-facebook"></i></a>
          </li>
          <li class="instagram">
            <a href="https://www.instagram.com/results4america/" target=
            "_blank"><i aria-hidden="true" class="fa fa-instagram"></i></a>
          </li>
          <li class="medium">
            <a href="https://medium.com/@Results4America" target=
            "_blank"><i aria-hidden="true" class="fa fa-medium"></i></a>
          </li>
          <li class="youtube-play">
            <a href="https://www.youtube.com/channel/UCCDgyIwYSdDGL1L0GNjcjWA"
            target="_blank"><i aria-hidden="true" class=
            "fa fa-youtube-play"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="column small-12 medium-12 large-9">
      <p class="credits">Site by <a href="https://objectively.is/" target=
      "_blank">Objectively</a></p>
    </div>
  </div>
</div>
