{% assign criteriaYear = site.content_year %}
{% assign allCriteria = site.data.contentful.criteria.criteria | where: 'year', criteriaYear %}

<section class="page-section page-section--nav criteria-dropdown-nav">
  <div class="criteria-dropdown-wrapper row align-center">
    <div class="select criteria-dropdown-nav">
      <select aria-label="criteria menu" class="criteria-dropdown-nav__select">
          <option class="criteria-dropdown-nav__option" >Select a Criteria</option>
        {% for criteria in allCriteria | sort: order %}
          <option class="criteria-dropdown-nav__option" value="{{criteria.title | slugify }}" data-page="{{ criteria.title | slugify }}" data-path="{{ criteria.title | slugify | append: '.html'| prepend: '/state-standard-of-excellence/' | relative_url }}">{{criteria.title}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</section>