{% assign example = include.example %}
{% assign criteria = site.data.contentful.criteria.criteria %}

{%if include.criteriaName%}
  <div class="row align-center"
    {% if include.criteriaName %}
    id={{include.criteriaName | slugify}}
    {% endif %}>
    <div class="column large-8 medium-8 small-12">
      <h3 class="example__title--leading">{{include.criteriaName}}</h3>
    </div>
  </div>
{%endif%}

{% for item in criteria %}
  {% if item.title == include.criteriaName %}
    <div class="row align-center">
      <div class="column large-10 criteria-description">
        {{ item.description | markdownify }}
      </div>
    </div>
  {% endif %}
{% endfor %}

<div class="row align-center"
  {%if example.state%}
    id={{example.state | slugify}}
  {%endif%}>
  <div class="column large-8 medium-8 small-12">
    <div class="example__state-outline">
      {% if example.state_outline.url %}
        <img class="{{example.state_abbreviation | slugify | prepend: 'example__state-outline--'}}" src={{example.state_outline.url}} alt="{{example.state | append: ' Outline'}}" />
      {% endif %}
    </div>
    {% if example.state_abbreviation%}
      <h4 class="example__abbreviation">{{example.state_abbreviation}}</h4>
    {% endif %}
    {% if example.type %}
      <p class="example__type">{{example.type}}</p>
    {% endif %}
  </div>
</div>
<div class="row align-center">
  <div class="column large-10 markdown">
    {% if example.long_description %}
      {{ example.long_description | markdownify }}
    {% endif %}
  </div>
</div>
