<div class="key-control">
  <div class="slide-panel__wrapper slide-panel__wrapper--key">
    <div class="slide-panel" data-direction="right" data-value="key">
      <div class="slide-panel__container slide-panel__container--key" style="right: -100%; display: none;">
        <div class="row slide-panel__close"><a href="#" class="slide-panel__close"><i
              class="material-icons slide-close-key"></i></a></div>
        <div class="slide-panel__content">
          <div class="slide-panel__key">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus fugiat mollitia doloremque error amet
              doloribus laborum obcaecati repudiandae eaque reprehenderit?</p>
            <ul>
              <div class="key-header">Issues</div>
              {% for issue in include.issues %}
              <li class="issue issue--{{issue|slugify}} issue--key">{{issue}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>