  <section class="mobile-controls ">

    {%unless page.url == '/'%}
    <div class="row">
     <a class="mobile-index" href="{{'/' | relative_url}}"><span>Back to Standard</span></a>
    </div>
    {%endunless%}
    <div class="row align-center media-icons-mobile">
      <div class="column large-3 social-media-toolbar">
        <ul>
          <li class="social-media-link facebook">
            <a href="#" alt="" class="" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="social-media-link twitter">
            <a href="#" alt="" class="" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="social-media-link email">
            <a href="#" alt="E-mail: example@example.com" class="" target="_blank"><i class="fa fa-envelope"></i></a>
          </li>
        </ul>
        </div>
      </div>
  </section>