<header class="top-bar" style="background-image:url({{'/images/map-overlay.png' | relative_url}})">
  <div class="color-overlay">
    <span class="top-bar__logo"><a href="https://results4america.org/"><img src="{{'/images/rfa-white.svg' | relative_url }}" alt="Results for America 2018 Logo"></a></span>
  </div>
</header>

{% if page.criteria_dropdown_nav %}
{%include criteria-dropdown-nav.html %}
{% endif %}

<div class="media-icons">
  <div class="row align-right expanded">
    <div class="column large-3 social-media-toolbar">
        {% include share_links.html %}
    </div>
  </div>
</div>
