<header class="top-bar" style="background-image:url({{'/images/map-overlay.png' | relative_url}})">
  <div class="color-overlay">
    <span class="top-bar__logo"><a href="{{ '/' | relative_url }}"><img src="{{'/images/rfa-white.svg' | relative_url }}" alt="Results for America 2018 Logo"></a></span>
  </div>
</header>

<div class="media-icons">
  <div class="row align-right expanded">
    <div class="column large-3 social-media-toolbar">
        <span>Share</span>
        <ul>
          <li class="social-media-link facebook">
            <a href="#" alt="" class="" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="social-media-link twitter">
            <a href="#" alt="" class="" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="social-media-link email">
            <a href="#" alt="E-mail: example@example.com" class="" target="_blank"><i class="fa fa-envelope"></i></a>
          </li>
        </ul>
    </div>
  </div>
</div>
