<header class="top-bar" style="background-image:url({{'/images/map-overlay.png' | relative_url}})">

  <button role="button" tabindex="0" class="top-bar__button js-trigger-nav" data-direction="left">menu</button>
  <nav class="nav">
    <div class="nav__container">
      <div class="top-bar__controls">
        <button class="top-bar__button js-close-nav">close</button>
      </div>
      <div class="nav--links">
        <a class="main-link" href="{{'/' | relative_url}}">Invest in What Works State Standard of Excellence</a>
        <a class="main-link" href="{{'/downloads.html' | relative_url}}">Downloads</a>
        <a class="sub-link" href="{{'/2019-invest-in-what-works-state-standard-of-excellence.pdf' | relative_url}}">2019 State Standard of Excellence</a>
        <a class="sub-link" href="{{'2019-summary-chart.pdf' | relative_url}}">2019 Leading Examples</a>
        <a class="sub-link" href="{{'2019-criteria-and-descriptions.pdf' | relative_url}}">2019 Criteria Questions</a>
        <a class="sub-link" href="{{'/downloads.html#state-spotlights' | relative_url}}">State Spotlights </a>
        <a class="main-link" href="{{'/state-standard-of-excellence/leading-examples.html' | relative_url}}">Leading Examples</a>
        <a class="main-link" href="{{'/state-standard-of-excellence/strategic-goals.html' | relative_url}}">Examples by Criteria</a>
      </div>
    </div>
  </nav>

  <div class="color-overlay">
    <span class="top-bar__logo"><a href="https://results4america.org/"><img src="{{'/images/rfa-white.svg' | relative_url }}" alt="Results for America 2018 Logo"></a></span>
  </div>
</header>

{% if page.criteria_dropdown_nav %}
{%include criteria-dropdown-nav.html %}
{% endif %}

<div class="media-icons"  aria-label="social media toolbar">
  <div class="row align-right expanded">
    <div class="column large-3 social-media-toolbar">
        {% include share_links.html %}
    </div>
  </div>
</div>
