---
layout: default
title: Results for America 2018
description:
seo_image_path: #'/images/media/filename.jpg'
---
{% assign index = site.data.contentful.indexPage.indexPage %}
{% assign criteria = site.data.contentful.criteria.criteria %}

{% for page in index %}
  <main role="main" id="index">
    <section class="top-section">
      <div class="row align-center">
        <div class="column large-8 medium-8 small-12">
          <h1>{{ page.year }}</h1>
          <hr>
          <h2>Invest in What Works State Standard of Excellence</h2>
        </div>
      </div>
      <div class="row align-center">
        <div class="column large-10">
          {{ page.short_description | markdownify }}
        </div>
      </div>
    </section>

    <section class="table" style="width:100%">
      <div class="row expanded">
        <table>
          <tr>
            <th>Criteria</th>
            <th style="width:38%">Leading Efforts</th>
            <th style="width:38%">Promising Efforts</th>
          </tr>

            {% for item in criteria %}
              <tr class="criteria">
                <td class="title">{{ item.title }}</td>
                <td class="leading">
                  <div class="row">
                    <div class="leading__state column large-3">
                      {{item.leading_list.state_abbreviation}}
                    </div>
                    <div class="description column large-8">
                      {{item.leading_list.short_description}}
                    </div>
                  </div>

                  <div class="link row align-right">
                    <div class="column large-4">
                      <a class="learn-more" href="#">Learn More</a>
                    </div>
                  </div>
                </td>
                <td class="promising">
                  {% for state in item.promising_list %}
                    <a href="#" class="promising__state promising__state--desktop">
                      {{state.state}}
                    </a>
                    <a href="#" class="promising__state promising__state--mobile">
                      {{state.state_abbreviation}}
                    </a>
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}


        </table>
      </div>
    </section>


  </main>
{% endfor %}
