---
layout: default
title: Leading Examples
description:
permalink: /state-standard-of-excellence/leading-examples
seo_image_path: #'/images/media/filename.jpg'
---

{% assign criteriaYear = site.content_year %}
{% assign leadingExamples = site.data.contentful.leadingPage.leadingPage | where: 'year', criteriaYear%}
{%assign pageContent = leadingExamples[0]%}
{%assign leadingList = pageContent.leading_list%}


<main role="main" class="criteria">

  <section class="top-section">
    <div class="row align-center">
      <div class="column large-8 medium-8 small-12">
        <h1>{{criteriaYear}} State Standard of Excellence</h1>
        <hr>
        <h2>{{page.title}}</h2>
      </div>
    </div>
    <div class="button-container button-container--align-left row">
      <a tabindex="0" class="button button--index" onclick="goBack()"><span>Back to<br>Standard</span></a>
    </div>
  </section>

  <section class="section section__description section__description--leading">
    <div class="row align-center">
      <div class="column large-10">
        {{ pageContent.description | markdownify }}
      </div>
    </div>
  </section>

  <section class="section section__explanation">
    <div class="row align-center">
      <div class="column large-10">
        {{ page.explanation | markdownify }}
      </div>
    </div>
  </section>

  <section class="section section__leading-list">
  <!-- <a name="leading-effort"></a> -->
  {% assign allCriteria = site.data.contentful.criteria.criteria %}

    {%for example in leadingList %}
    {%assign criteriaTitle = example.criteria %}
    {%assign currentCriteria = allCriteria | where: "title", criteriaTitle %}
    {%assign currentOrder = currentCriteria[0].order%}


    {% include example.html example=leadingExample criteriaName=example.criteria order=currentOrder exampleType="leading"%}
    <div class="row align-center">
      <div class="column large-10">
        <hr class="hr--long">
      </div>
    </div>
    {%endfor%}

  </section>
  {% include mobile-index.html %}
</main>
